<div class="navitagorDiv" th:fragment="html">
	<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
		<a class="navbar-brand" href="home">首页</a>
		
		<a class="navbar-brand" href="photo_list">照片管理</a>
		<a class="navbar-brand" href="user_comment_list">评论管理</a>
		<a class="navbar-brand" href="product_list">产品管理</a>
		<a class="navbar-brand" href="liked_list">收藏管理</a>
		<a class="navbar-brand" href="user_list">用户管理</a>
		<a class="navbar-brand" href="received_order">已收到订单管理</a>
		<a class="navbar-brand" href="created_order">我的订单管理</a>

		<span class="pull-right" th:if="${null!=session.user}">
		<a class="navbar-brand" href="#nowhere" th:text="${session.user.username}"></a>
		<a class="navbar-brand" href="forelogout" >退出</a>
		</span>
	</nav>
</div>
