<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="include/admin/adminHeader::html('Edit Photo')" ></head>
<body>
<div th:replace="include/admin/adminNavigator::html" ></div>
<script src="https://cdn.jsdelivr.net/npm/exif-js"></script>
<script>
    $(function(){
        var data4Vue = {
            uri:'photos',
            listURL:'photo_list',
            bean: {id:0, name:'',description:'', category:'', shutterSpeed:'',aperture:'',iso:'', camera:'', createDate:'', lens:''},
            file: null
        };

        //ViewModel
        var vue = new Vue({
            el: '#workingArea',
            data: data4Vue,
            mounted:function(){ //mounted　表示这个 Vue 对象加载成功了
                this.get();
            },
            methods: {
                get:function(){
                    var id = getUrlParms("id");
                    var url = this.uri+"/"+id;
                    axios.get(url).then(function(response) {
                        vue.bean = response.data;
                    })
                },
                update: function () {
                    if(!checkEmpty(this.bean.name, "Name"))
                        return;
                    if(!checkEmpty(this.bean.description, "Description"))
                        return;
                    if(!checkEmpty(this.bean.shutterSpeed, "ShutterSpeed"))
                        return;
                    if(!checkEmpty(this.bean.aperture, "Aperture"))
                        return;
                    if(!checkEmpty(this.bean.iso, "ISO"))
                        return;
                    if(!checkEmpty(this.bean.camera, "Camera"))
                        return;
                    if(!checkEmpty(this.bean.category, "Category"))
                        return;
                    if(!checkEmpty(this.bean.lens, "Lens"))
                        return;
                    var url = this.uri + "/" + this.bean.id;

                    //axios.js 上传文件要用 formData 这种方式
                    var formData = new FormData();
                    formData.append("image", this.file);
                    formData.append("name", this.bean.name);
                    formData.append("description", this.bean.description);
                    formData.append("shutterSpeed", this.bean.shutterSpeed);
                    formData.append("aperture", this.bean.aperture);
                    formData.append("iso", this.bean.iso);
                    formData.append("camera", this.bean.camera);
                    formData.append("category", this.bean.category);
                    formData.append('createDate', this.bean.createDate);
                    formData.append('lens', this.bean.lens);

                    axios.put(url, formData).then(function(response){
                        location.href=vue.listURL;
                    });
                },
                getFile: function (event) {
                    this.file = event.target.files[0];
                    EXIF.getData(this.file, function () {
                        console.log(EXIF.getAllTags(this)) // 此处打印的为选中图片的数据
                        vue.bean.camera = EXIF.getTag(this, 'Make') + ' ' + EXIF.getTag(this, 'Model');
                        vue.bean.iso = EXIF.getTag(this, 'ISOSpeedRatings');
                        vue.bean.shutterSpeed = EXIF.getTag(this, 'ExposureTime').numerator + '/' + EXIF.getTag(this, 'ExposureTime').denominator;
                        vue.bean.aperture = 'f' + EXIF.getTag(this, 'FNumber');
                        vue.bean.lens = EXIF.getTag(this, 'undefined');
                    })
                }
            }
        });
        Vue.filter('formatDateFilter', function (value, formatString) {
            if(null==value)
                return "";
            formatString = formatString || 'YYYY-MM-DD HH:mm:ss';
            return moment(value).format(formatString);
        });
    });

</script>

<div id="workingArea" >
    <ol class="breadcrumb">
        <li><a href="photo_list">All photos</a></li>
        <li class="active">Edit photo</li>
    </ol>

    <div class="panel panel-warning editDiv">
        <div class="panel-heading">Edit photo</div>
        <div class="panel-body">
            <table class="editTable">
                <tr>
                    <td>Photo</td>
                    <td>
                        <input id="photoPic" accept="image/*" type="file" name="image" @change="getFile($event)" />
                    </td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td><input  @keyup.enter="update" v-model.trim="bean.name" type="text"
                                class="form-control"></td>
                </tr>
                <tr>
                    <td>Category</td>
                    <td><input  @keyup.enter="update" v-model.trim="bean.category" type="text"
                                class="form-control"></td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td><input  @keyup.enter="update" v-model.trim="bean.description" type="text"
                                class="form-control"></td>
                </tr>
                <tr>
                    <td>ShutterSpeed</td>
                    <td><input  @keyup.enter="update" v-model.trim="bean.shutterSpeed"  type="text"
                                class="form-control"></td>
                </tr>
                <tr>
                    <td>Aperture</td>
                    <td><input  @keyup.enter="update" v-model.trim="bean.aperture" type="text"
                                class="form-control"></td>
                </tr>
                <tr>
                    <td>ISO</td>
                    <td><input  @keyup.enter="update" v-model.trim="bean.iso"  type="text"
                                class="form-control"></td>
                </tr>
                <tr>
                    <td>Camera</td>
                    <td><input  @keyup.enter="update" v-model.trim="bean.camera"  type="text"
                                class="form-control"></td>
                </tr>
                <tr>
                    <td>Lens</td>
                    <td><input  @keyup.enter="update" v-model.trim="bean.lens"  type="text"
                                class="form-control"></td>
                </tr>

                <tr class="submitTR">
                    <td colspan="2" align="center">
                        <input type="hidden" name="id" v-model.trim="bean.id">
                        <a href="#nowhere"  @click="update" class="btn btn-success">Upload</a>
                    </td>
                </tr>
            </table>

        </div>
    </div>
</div>
<div th:replace="include/admin/adminFooter::html" ></div>
</body>
</html>