<div th:fragment="html">
    <script>
        $(function(){
            var pid = getUrlParms("pid");
            var data4Vue = {
                uri:'foreproduct',
                p:'',
                imgs:'',
                user:{username:'', password:''}
            };
            //ViewModel
            var vue = new Vue({
                el: '#workingArea',
                data: data4Vue,
                mounted:function(){ //mounted　表示这个 Vue 对象加载成功了
                    linkDefaultActions();
                    this.load();
                },
                methods: {
                    load:function(){
                        var url =  this.uri+"/"+pid;
                        axios.get(url).then(function(response) {
                            var result = response.data;
                            vue.p=result.data.product;
                            vue.imgs=result.data.imgs;
                            vue.$nextTick(function(){
                                imgAndInfoPageRegisterListeners(vue);
                            })
                        });

                    }
                }
            });


        });
    </script>

    <title>{{p.name}}</title>
    <div class="productPageDiv">
        <div th:replace="include/fore/product/imgAndInfo::html" ></div>
        <div th:replace="include/fore/product/productDetail::html" ></div>
    </div>
</div>
