<div th:fragment="html">
	<div class="productReviewDiv">
		<div class="productReviewTopPart">
			<a  href="#nowhere" class="selected">评论 <span class="productReviewTopReviewLinkNumber">{{p.commentCount}}</span> </a>
		</div>
		
		<div class="productReviewContentPart">
			<div class="productReviewItem" v-for="c in comments">
				<div class="productReviewItemDesc">
					<div class="productReviewItemContent">
						{{c.content }}
					</div>
					<div class="productReviewItemDate">
						{{c.createDate|formatDateFilter('YYYY-MM-DD')}}
					</div>
				</div>
				<div class="productReviewItemUserInfo">
					{{c.user.username}}<span class="userInfoGrayPart"></span>
				</div>
			
				<div style="clear:both"></div>			
			</div>

			<div class="makeReviewDiv">
				<div class="makeReviewText">喜欢就评论一下吧</div>
				<table class="makeReviewTable">
					<tr>
						<td class="makeReviewTableFirstTD">撰写评论</td>
						<td><textarea v-model="newcomment.content"></textarea></td>
					</tr>
				</table>
				<div class="makeReviewButtonDiv">
					<a href="#nowhere" class="commentLink"><button class="commentButton" type="submit">提交评价</button></a>
				</div>
			</div>
		</div>
	</div>
</div>
