<div th:fragment="html"> 
	<div class="productDetailDiv">
		<div class="productDetailTopPart">
			<a href="#nowhere" class="productDetailTopPartSelectedLink selected">Photo detail</a>
		</div>

		<div class="productParamterPart" th:if="${null!=session.user}">
			<div class="productParamter">Photo parameter：</div>
			<div class="productParamterList">
				<span>Category: {{p.category}}</span>
				<span>ShutterSpeed: {{p.shutterSpeed}}</span>
				<span>Aperture: {{p.aperture}}</span>
				<span>ISO: {{p.iso}}</span>
				<span>Camera: {{p.camera}}</span>
				<span>Lens: {{p.lens}}</span>
			</div>
			<div class="productParamterList">
				<span>Description: {{p.description}}</span>
			</div>
			<div style="clear:both"></div>
		</div>

		<div class="productParamterPart" th:if="${null==session.user}">
			<div class="productParamter">Login to see detail parameter</div>
			<div class="makeLikedButtonDiv">
				<a href="#nowhere" class="loginLink"><button type="submit" class="likedButton">Login</button></a>
			</div>
		</div>
		
		<div class="productDetailImagesPart">
			<img v-for="pi in p.productDetailImages" :src="'img/productDetail/'+pi.id+'.jpg'">
		</div>
	</div>
</div>

